assignment_2/ISIC/o2s8zpng/checkpoints/epoch=22-step=2461.ckpt
assignment_2/ISIC/o2s8zpng/checkpoints/epoch=22-step=2461.ckpt
ISIC/9wvd7ojd/checkpoints/epoch=6-step=378.ckpt
ISIC/fpszxyy9/checkpoints/epoch=6-step=378.ckpt
ISIC/i2jnsq4s/checkpoints/epoch=6-step=378.ckpt
ISIC/m2ubkd6r/checkpoints/epoch=0-step=54.ckpt
ISIC/o263bf48/checkpoints/epoch=0-step=214.ckpt
