shellingham==1.5.4
tqdm==4.66.4
pkce==1.0.3
arrow==1.3.0
multidict==6.0.4
async-lru==2.0.4
h5py==3.11.0
nibabel==5.3.2
ply==3.11
uri-template==1.3.0
kiwisolver==1.4.5
rfc3339-validator==0.1.4
executing==2.1.0
pexpect==4.9.0
torchmetrics==1.6.1
txt2tags==3.9
tornado==6.4.1
lazy_loader==0.4
matplotlib==3.9.2
fqdn==1.5.1
decorator==5.1.1
importlib_metadata==8.5.0
conda-package-handling==2.3.0
yarl==1.9.3
traitlets==5.14.3
aiohttp==3.9.5
ipython==8.28.0
nest_asyncio==1.6.0
ujson==5.10.0
jaraco.classes==3.2.1
charset-normalizer==2.0.4
more-itertools==10.1.0
jsonschema-specifications==2023.7.1
pandocfilters==1.5.0
tifffile==2025.2.18
ptyprocess==0.7.0
isoduration==20.11.0
PyYAML==6.0.1
zipp==3.20.2
tinycss2==1.2.1
filelock==3.13.1
python-dotenv==0.21.0
dask-expr==1.1.0
parso==0.8.4
webencodings==0.5.1
lightning-utilities==0.12.0
attrs==23.1.0
typer==0.15.1
mandelbrot==0.1
ffmpeg==1.4
entrypoints==0.4
contourpy==1.2.0
intake==0.7.0
python-json-logger==2.0.7
jupyter_server_terminals==0.4.4
nbformat==5.9.2
pillow==10.3.0
defusedxml==0.7.1
pyarrow==14.0.2
semver==3.0.2
pickleshare==0.7.5
stack-data==0.6.2
Jinja2==3.1.4
rpds-py==0.10.6
pydantic==2.10.6
locket==1.0.0
libmambapy==1.5.8
msgpack==1.0.3
bleach==4.1.0
conda-pack==0.7.1
markdown-it-py==3.0.0
dask==2024.5.0
six==1.16.0
frozendict==2.4.2
pandas==2.2.2
GitPython==3.1.44
wheel==0.44.0
texttable==1.7.0
jupyter-console==6.6.3
QtPy==2.4.1
joblib==1.4.2
cloudpickle==2.2.1
zict==3.0.0
widgetsnbextension==4.0.10
packaging==24.1
anaconda-client==1.12.3
overrides==7.4.0
pkginfo==1.10.0
ruamel-yaml-conda==0.17.21
pytz==2024.1
annotated-types==0.6.0
PySocks==1.7.1
pyparsing==3.1.4
git-fame==2.0.2
jupyter_client==8.6.3
Babel==2.11.0
rich==13.9.4
pymp-pypi==0.5.0
psutil==5.9.0
future==1.0.0
protobuf==5.29.3
exceptiongroup==1.2.2
jupyter-events==0.10.0
jsonpatch==1.33
conda-repo-cli==1.0.88
humanize==4.11.0
jsonpointer==3.0.0
argon2-cffi==21.3.0
pytorch-lightning==2.5.0.post0
appnope==0.1.4
partd==1.4.1
anaconda-project==0.11.1
numpy==1.26.4
anaconda-anon-usage==0.4.4
python-igraph==0.11.6
conda==24.9.1
fsspec==2024.3.1
tzdata==2023.3
jupyter-lsp==2.2.0
PyQt5==5.15.10
menuinst==2.1.1
sip==6.7.12
urllib3==2.2.2
orjson==3.10.11
debugpy==1.6.7
certifi==2024.8.30
conda-libmamba-solver==24.1.0
jsonschema==4.23.0
qtconsole==5.5.1
igraph==0.11.6
appdirs==1.4.4
asttokens==2.4.1
threadpoolctl==3.5.0
requests==2.32.2
pycparser==2.21
frozenlist==1.4.0
jedi==0.19.1
PyQtWebEngine==5.15.6
jupyter_core==5.7.2
truststore==0.8.0
conda-content-trust==0.2.0
pyDOE==0.3.8
lz4==4.3.2
soupsieve==2.5
chardet==4.0.0
cffi==1.16.0
pluggy==1.0.0
jupyterlab==4.0.11
gitdb==4.0.12
Deprecated==1.2.18
tblib==1.7.0
smt==2.7.0
fastjsonschema==2.16.2
jupyterlab-widgets==3.0.10
notebook_shim==0.2.3
terminado==0.17.1
mdurl==0.1.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyter_server==2.14.1
xyzservices==2022.9.0
argopt==0.8.2
sentry-sdk==2.20.0
sortedcontainers==2.4.0
notebook==7.0.8
bokeh==2.3.3
wcwidth==0.2.13
torch==2.6.0
jenn==1.0.8
pyzmq==25.1.2
mistune==2.0.4
Brotli==1.0.9
jupyter==1.0.0
numexpr==2.8.7
lab==8.3
pycosat==0.6.6
navigator-updater==0.5.1
pydantic_core==2.27.2
zstandard==0.22.0
distributed==2024.5.0
netdispatch==0.1.0
PyQt5-sip==12.13.0
webcolors==24.11.1
prompt_toolkit==3.0.48
wandb==0.19.5
torchio==0.20.4
cycler==0.12.1
PyJWT==2.8.0
pip==24.2
idna==3.7
opencv-python==4.11.0.86
Bottleneck==1.3.7
torchvision==0.21.0
comm==0.2.2
networkx==3.3
SimpleITK==2.4.1
cytoolz==0.12.2
dynetx==0.3.2
imageio==2.37.0
pure_eval==0.2.3
archspec==0.2.3
distro==1.9.0
simplejson==3.19.3
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
conda_index==0.5.0
keyring==24.3.1
requests-toolbelt==1.0.0
wrapt==1.17.2
anaconda-navigator==2.6.0
referencing==0.30.2
conda_package_streaming==0.10.0
sympy==1.13.1
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
ruamel.yaml==0.17.21
lmdb==1.4.1
typing_extensions==4.12.2
scipy==1.14.1
matplotlib-inline==0.1.7
sniffio==1.3.0
smmap==5.0.2
python-snappy==0.6.1
anaconda-cloud-auth==0.5.1
libarchive-c==2.9
jupyterlab-pygments==0.1.2
conda-token==0.5.0+1.g2209e04
ipywidgets==8.1.2
simpy==4.1.1
json5==0.9.6
toolz==0.12.0
anaconda-catalogs==0.2.0
jupyterlab_server==2.25.1
aiosignal==1.2.0
anyio==4.2.0
types-python-dateutil==2.9.0.20241206
nbclient==0.8.0
nbconvert==7.10.0
prometheus-client==0.14.1
setuptools==75.1.0
fonttools==4.53.1
beautifulsoup4==4.12.3
platformdirs==4.3.6
ipykernel==6.29.5
HeapDict==1.0.1
conda-build==24.5.1
pyDOE3==1.0.4
setproctitle==1.3.4
MarkupSafe==2.1.3
ndlib==5.1.0
scikit-learn==1.5.2
gillespie==0.0.3
scikit-image==0.25.2
Pygments==2.18.0
boltons==23.0.0
cryptography==42.0.5
click==8.1.7
tabulate==0.9.0
websocket-client==1.8.0
